.table {
  text-align: center;
}

.table-description {
  font-size: 14pt;
}

.title {
  font-size: 18pt;
  font: bold;
}

.subtitle {
  font-size: 15pt;
}

.weak {
  color: green;
}

.significant {
  color: blue;
}

.strong {
  color: red
}

footer {
  background: #1D3b21;
  color: #ededed;
}

header {
  background: #4f955c;
  color: #ededed;
  font-size: 24pt;
}

@media (min-height: 700px) {
  .question-item{
    min-height: 600px
  }
  .intro {
    min-height:700px
  }
}

