{% extends "_base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">Инструкция по заполнению</div>
      <div class="col-12 text-center">{{ page_content.item_title }}</div>
      <div class="col-12 text-center">{{ page_content.subitem }}</div>
      <div class="col-12">
        <form>
        {% for feature in page_content.feature_list %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="{{ feature }}">
          <label class="form-check-label" for="{{ feature }}">
            {{ feature }}
          </label>
        </div>
        {% endfor %}
        </form>
      </div>
      <div class="ml-auto mr-auto">
        <a class="btn btn-primary btn-lg" href="{{ next_page_filename }}" role="button">
          Продолжить
        </a>
      </div>
    </div>
  </div>
{% endblock %}