{% extends "_base.html" %}
{% block title %}Симптомы{% endblock %}
{% block content %}
  <div class="container question-item">
    <div class="row">
      <div class="col-12">
        <a href="instruction.html" target="_blank">Инструкция по заполнению</a>
      </div>

      <div class="col-12 title text-center mb-1">{{ page_content.syndrome }}</div>
      <div class="col-12 subtitle text-center mb-1">{{ page_content.symptom_complex }}</div>
      {% if page_content.symptom_subcomplex %}
        <div class="col-12 subtitle text-center mb-1">{{ page_content.symptom_subcomplex }}</div>
      {% endif %}
      <div class="col-12">
        <form action="{{ next_page_number }}" id="question-form" method="POST">
        {% for symptom_num, symptom_name, symptom_points in page_content.symptom_list %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="true" id="{{ symptom_num }}" name="{{ symptom_num }}">
            <label class="form-check-label" for="{{ symptom_num }}">
              {{ symptom_name }}
            </label>
          </div>
        {% endfor %}
        </form>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        Страница {{ page_number }} из {{ total_page_number }}
      </div>
      <div class="ml-auto mr-auto mt-1">
        <input
          class="btn btn-primary btn-lg continue-button"
          type="submit"
          value="Продолжить"
          form="question-form"
          aria-disabled="true"
        >
      </div>
    </div>
  </div>
{% endblock %}