{% extends '_base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 description_title text-center">Описание проекта</div>
      <div class="col-12">Этот сайт нужен для того-то и того-то</div>
      <div class="col-12 description_title text-center">Инструкция</div>
      <div class="col-12">Текст инструкции</div>
      <div class="col-12 text-center">
        <a class="btn btn-success btn-lg" href="person_info.html" role="button">Начать</a>
      </div>
    </div>
  </div>
{% endblock %}