{% extends '_base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 title text-center">
        Информация об обследуемом
      </div>
      <div class="col-12">
        <form action="questions/1" method="POST" name="person_info" id="question-form">
          <div class="form-group">
            <label for="age">Возраст:</label>
            <input type="number" name="age" class="form-control" id="age" min=1 max=100 step=1
                   placeholder="Введите возраст обследуемого (количество полных лет)" required>
          </div>
          <div class="mt-2">Пол:</div>
          <div class="form-check">
            <input name="sex" type="radio" value="male" id="male" class="form-check-input male" required>
            <label class="form-check-label" for="male">Мужской</label>
          </div>
          <div class="form-check">
            <input name="sex" type="radio" value="female" id="female" class="form-check-input female">
            <label class="form-check-label" for="female">Женский</label>
          </div>
          <div class="form-group mt-2">
            <label for="grade">Номер класса:</label>
            <input
              type="number"
              class="form-control"
              name="grade"
              id="grade"
              min="1"
              max="20"
              step="1"
              placeholder="Введите номер класса обследуемого"
            >
          </div>
          <div class="mt-2">Состав семьи:</div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="family-type" value="nuclear-family" id="nuclear-family">
            <label class="form-check-label" for="nuclear-family">
              Полная семья
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="family-type" value="nuclear-family-eldest" id="eldest">
            <label class="form-check-label" for="eldest">
              Старший ребёнок в полной семье
            </label>
          </div>

          <div class="form-group">
            <label for="conflict-history">
              Если Вам известна история конфликта в семье ученика, приведите краткое описание:
            </label>
            <textarea class="form-control" id="conflict-history" rows="5" name="family_history"></textarea>
          </div>
        </form>
      </div>
      <div class="ml-auto mr-auto">
        <input
          class="btn btn-primary btn-lg continue-button"
          type="submit"
          value="Продолжить"
          form="question-form"
          aria-disabled="true"
        >
      </div>
    </div>
  </div>
{% endblock %}