{% extends '_base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 description_title text-center">
        Укажите возраст и пол обследуемого
      </div>
      <div class="col-12">
        <form name="person_info">
          <div class="form-group">
            <label for="age">Возраст обследуемого:</label>
            <input type="number" class="form-control" id="age"
                   min=1 max=100 step=1
                   placeholder="Введите возраст обследуемого (количество полных лет)">
          </div>
          <div class="mt-2 mb-2">Пол обследуемого:</div>
          <div><input name="sex" type="radio" value="male" id="male" class="male">
            <label for="male">Мужской</label>
          </div>
          <div><input name="sex" type="radio" value="female" id="female" class="female">
            <label for="female">Женский</label>
          </div>
        </form>
      </div>
      <div class="ml-auto mr-auto">
        <a class="btn btn-primary btn-lg disabled continue-button" href="#" role="button" aria-disabled="true">Продолжить</a>
      </div>
    </div>
  </div>
  <script src="js/check_continue_button.js"></script>
{% endblock %}