{% extends '_base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
  <div class="container intro">
    <div class="row">
      <div class="col-12 title text-center mt-3">Цель проекта</div>
      <div class="col-12">
        Модифицированная методика &laquo;Карта наблюдения Д.&nbsp;Стотта&raquo; используется для
        диагностики трудностей адаптации ребенка в&nbsp;школе, анализа характера дезадаптации и&nbsp;степени
        неприспособленности детей к&nbsp;школе по&nbsp;результатам длительного наблюдения над ними.
      </div>
      <div class="col-12 title text-center mt-3">Инструкция</div>
      <div class="col-12">
        При заполнении карты следует ставить флажок слева от&nbsp;симптомов (форм поведения),
        наблюдаемых у&nbsp;ребенка при его взаимодействии с&nbsp;учителями, детьми и&nbsp;родителями.
        Если у&nbsp;ребенка в&nbsp;поведении
        не&nbsp;наблюдается того или иного из&nbsp;перечисленных симптомов, пропускайте этот симптом.<br>
        Каждый симптом оценивается по&nbsp;трехбалльной шкале, баллы подсчитываются автоматически.
        По&nbsp;сумме баллов по&nbsp;всем синдромам на последней странице карты  предоставляется результат
        в&nbsp;виде таблицы и&nbsp;графика общего &laquo;коэффициента&raquo; дезадаптации.<br>
        Большое количество отмеченных симптомов у&nbsp;ребенка (по&nbsp;сравнению с&nbsp;другими детьми)
        дает возможность сделать вывод о&nbsp;серьезных нарушениях в&nbsp;развитии его личности и&nbsp;поведении,
        найти ресурсы развития ребенка,
        а&nbsp;также выделить те&nbsp;синдромы, которые в&nbsp;первую очередь определяют нарушения,
        преодоление которых должно занимать центральное место в&nbsp;работе с&nbsp;ребенком.
      </div>
      <div class="col-12 text-center mt-5">
        <a class="btn btn-success btn-lg" href="person_info" role="button">Начать</a>
      </div>
    </div>
  </div>
{% endblock %}